@charset "utf-8";

@font-face {
	font-family: "Libre Franklin";
	src: url("../fonts/LibreFranklin-SemiBold.ttf") format("truetype");
}

@keyframes color-change {
	0% { color: #ff0000; }
	17% { color: #ff4000; }
	33% { color: #ff8000; }
	50% { color: #ffbf00; }
	66% { color: #ffff00; }
	83% { color: #bfff00; }
	100% { color: #ff0000; }
}

html {
	margin: 0;
	padding: 0;
	background: url(../img/fond.webp);
	background-size: cover;
	font-family: "Libre Franklin";
	overflow: hidden;
}

h1 {
	-webkit-text-stroke: 1.5px black;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 4px white;
	animation: color-change 4s infinite;
	font-size: 60px;
	display:inline-block;

}


#btacueil { /* div1 */ 
	margin: 0 auto;
	width:50%;
	padding:none;
	border: none;
	text-align:center;

}

h2 {
	margin: 15px;
	color: #f8f8ff;
	text-align: center;
	font-size: 60px;
}

h3 {
	margin: 15px;
	color: #f8f8ff;
	text-align: center;
	font-size: 60px;
}

h4 {
	margin: 15px;
	color: #f8f8ff;
	text-align: center;
	font-size: 60px;
}

@keyframes colo-easter {
	0% { color: #126dff; }
	17% { color: #ff00ff; }
	33% { color: #7fff00; }
	50% { color: #FF00FF; }
	66% { color: #adff2f; }
	83% { color: #ff2d49; }
	100% { color: #126dff; }
}

h5 {
	-webkit-text-stroke: 1.5px black;
	/* color: white; */
	text-align: center;
	text-shadow: 0px 0px 4px white;
	animation: colo-easter 2s infinite;
	font-size: 60px;
}

#affgo {
	
	margin: 15px;
	color: #f8f8ff;
	text-align: center;
	font-size: 60px;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

#afftext {
	
	margin: 15px;
	color: #f8f8ff;
	text-align: center;
	font-size: 60px;
	color:#f8f8ff;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;	
}

