@charset "utf-8";

@font-face {
	font-family: "Libre Franklin";
	src: url("../fonts/LibreFranklin-SemiBold.ttf") format("truetype");
}

@keyframes color-change {
	0% { color: #ff0000; }
	17% { color: #ff4000; }
	33% { color: #ff8000; }
	50% { color: #ffbf00; }
	66% { color: #ffff00; }
	83% { color: #bfff00; }
	100% { color: #ff0000; }
}

html {
	margin: auto;
	padding: 0;
	background: url(../img/fond.webp);
	background-size: cover;
	font-family: "Libre Franklin";
	overflow: hidden;
}

h1 {
	-webkit-text-stroke: 1.5px black;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 4px white;
	animation: color-change 4s infinite;
	font-size: 60px;
	display:inline-block;
}


#btacueil { /* div1 */ 
	margin: 0 auto;
	width:50%;
	padding:none;
	border: none;
	text-align:center;

}

#btn1 { /* div2 */ 
	margin: 25px auto;
	width:25%;
	padding:15px;
	border: none;
	text-align:center;

}

#btn2 {	/* div3  */
	margin: 25px auto;
	width:50%;
	padding:15px;
	border: none;
	text-align:center;

}

#btn3 { /* div4  */
	margin: 25px auto;
	width:50%;
	padding:15px;
	border: none;
	text-align:center;

}

#btn4 { /* div5 */ 
	margin: 5% auto;
	width:25%;
	padding:15px;
	border: none;
	text-align:center;

}

.rules {
	color:#f8f8ff;
	text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	font-size: 20px;
}


.amateur {
	box-shadow: 3px 4px 0px 0px #3dc21b;
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 18px;
	border: 1px solid #18ab29;
	display: inline-block;
	margin-left:3px;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}

.amateur:hover {
	background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color: #5cbf2a;
}

.amateur:active {
	position: auto;
	top: 1px;
}

.occa {
	box-shadow: 3px 4px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:18px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.occa:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.occa:active {
	position:relative;
	top:1px;
}

.ivrogne {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	margin-left-side: 250px;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow: 4px 4px 3px #000000;
}
.ivrogne:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.ivrogne:active {
	position:relative;
	top:1px;
}

.cache {
	box-shadow: 3px 4px 0px 0px #FAFAFA00;
	background:linear-gradient(to bottom, #FAFAFA00 5%, #FAFAFA00 100%);
	background-color:#FAFAFA00;
	border-radius:20px;
	border:1px solid #FAFAFA00;
	display:inline-block;
	cursor:pointer;
	color:#FAFAFA00;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #FAFAFA00;
}
.cache:hover {
	background:linear-gradient(to bottom, #FAFAFA00 5%, #FAFAFA00 100%);
	background-color:#FAFAFA00;
}
.cache:active {
	position:relative;
	top:1px;
}